<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:ezy="http://www.ezyplatform.com/thymeleaf/layout"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content" ng-controller="homeJs">
    <div class="hero">

        <div class="container">

            <div class="left">

                <h1 class="h1">
                    Hi, I'm <b>Julia&nbsp;Walker</b>.
                    <br>Web Developer
                </h1>

                <p class="h3">
                    Specialized in <abbr title="Accessibility">a11y</abbr>
                    and Core Web Vitals
                </p>

                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Contact Me</a>
                    <a href="#" class="btn btn-secondary">About Me</a>
                </div>

            </div>

            <div class="right">

                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img src="/images/hero.png" alt="Julia Walker" class="hero-img">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>

            </div>

        </div>

    </div>





    <div class="main">

        <div class="container">

            <!--
              - BLOG SECTION
            -->

            <div class="blog">

                <h2 class="h2">Latest Blog Post</h2>

                <div class="blog-card-group" id="blogListBody">
                    <th:block th:each="blog : ${pagination.items}">
                        <th:block th:replace="~{fragments/blog-item :: content(blog=${blog})}" />
                    </th:block>
                </div>

                <div ng-repeat="x in blogs">
                    <p>{{x.title}}</p>
                </div>

                <button class="btn load-more" ng-click="loadMore()">Load More</button>

            </div>





            <!--
              - ASIDE
            -->

            <div class="aside">

                <div class="topics">

                    <h2 class="h2">Topics</h2>

                    <a th:each="topCategory : ${topCategories}"
                       th:href="${'/topic/' + topCategory.slug}"
                       class="topic-btn">
                        <div class="icon-box">
                            <img th:if="${topCategory.titleImage != null}"
                                 th:src="${topCategory.titleImage.getUrlOrNull()}">
                        </div>
                        <p>[[${topCategory.name}]]</p>
                    </a>
                </div>

                <div class="tags">

                    <h2 class="h2">Tags</h2>

                    <div class="wrapper">
                        <a th:each="topTag : ${topTags}"
                           th:href="${'/blogs/tags/' + topTag.slug}"
                           class="hashtag">
                            #[[${topTag.name}]]
                        </a>
                    </div>

                </div>

                <div class="contact">

                    <h2 class="h2">Let's Talk</h2>

                    <div class="wrapper">

                        <p>
                            Do you want to learn more about how I can help your company overcome problems? Let us have a
                            conversation.
                        </p>

                        <ul class="social-link">

                            <li>
                                <a href="#" class="icon-box discord">
                                    <ion-icon name="logo-discord"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="icon-box twitter">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="icon-box facebook">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

                <div class="newsletter">

                    <h2 class="h2">Newsletter</h2>

                    <div class="wrapper">

                        <p>
                            Subscribe to our newsletter to be among the first to keep up with the latest updates.
                        </p>

                        <form action="#">
                            <input type="email" name="email" placeholder="Email Address" required>

                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script layout:fragment="scripts">
    app.controller("homeJs", function($scope, $http) {
        console.log('111');
        $scope.blogs = [];

        const getApi = function (){
            return $http({
                url: '/api/v1/blog',
                method: 'GET'
            })
        }

        $scope.loadMore = async function () {
            console.log('get api');
            const result = await getApi();
            $scope.blogs = result.data.items;
            console.log($scope.blogs);
            $scope.$apply();
        }
    });
</script>
</body>
</html>
