<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="content">
    <div class="container">

        <div class="wrapper">

            <a href="/" class="footer-logo">
                <img th:src="${siteLogoUrl != null ? siteLogoUrl : '/images/logo-light.svg'}"
                     alt="Light Logo" width="150" class="logo-light">
                <img th:src="${siteLogoWithoutTextUrl != null ? siteLogoWithoutTextUrl : '/images/logo-dark.svg'}"
                     alt="Dark Logo" width="150" class="logo-dark">
            </a>

            <p class="footer-text">
                Learn about Web accessibility, Web performance, and Database management.
            </p>

        </div>

        <div class="wrapper">
            <p class="footer-title">Quick Links</p>
            <ul>
                <li>
                    <a href="/posts/advertise-with-us" class="footer-link">Advertise with us</a>
                </li>

                <li>
                    <a href="/about-us" class="footer-link">About Me</a>
                </li>

                <li>
                    <a href="/contact-us" class="footer-link">Contact Us</a>
                </li>

            </ul>

        </div>

        <div class="wrapper">

            <p class="footer-title">Legal Stuff</p>

            <ul>

                <li>
                    <a href="/privacy-policy" class="footer-link">Privacy Notice</a>
                </li>

                <li>
                    <a href="/cookie-policy" class="footer-link">Cookie Policy</a>
                </li>

                <li>
                    <a href="/terms-of-service" class="footer-link">Terms Of Use</a>
                </li>

            </ul>

        </div>

    </div>
</footer>
</body>
</html>
